@import "../../styles/variables";

.todo {
  padding-block: $base6;
  padding-inline: $base8 * 1.5;
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: $base8 * 2;
  background-color: $clr-1;
  border-radius: $base8;

  > p {
    flex: 1 1 400px;
    text-wrap: pretty;
  }

  > div {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: $base8 * 3;

    button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      background-color: $clr-2;
      border-radius: $base8;
      border: none;
      outline: none;
      cursor: pointer;

      &.active {
        color: rgb(25, 123, 202);
      }

      &.accept:hover {
        color: rgb(13, 170, 21);
      }
      &.modify:hover {
        color: rgb(25, 123, 202);
      }
      &.delete:hover {
        color: rgb(231, 26, 26);
      }
    }
  }

  > input {
    display: block;
    align-self: center;
    width: calc(100% - 130px);
    height: 100%;
    border-radius: $base6;
    text-indent: $base6;
    border: 1px solid rgb(25, 123, 202);
    outline: none;
  }
}

.addTodo {
  margin-top: $base8 * 5;
  padding-block: $base8;
  padding-inline: $base8 * 2;
  width: 100%;
  max-width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: $base6 * 1.5;
  font-size: $fs-small;
  color: $clr-1;
  background-color: $clr-3;
  border-radius: 999rem;

  > div {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    column-gap: $base6;

    input {
      flex: 1 1 auto;
      color: $clr-1;
      background-color: inherit;
      border: none;
      outline: none;

      &::placeholder {
        color: $clr-1;
      }
    }
  }

  > button {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-1;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      border-radius: 50%;
      color: $clr-3;
      background-color: $clr-1;
    }
  }

  svg {
    width: 1.3em;
    height: 1.3em;
    max-width: 36px;
    max-height: 36px;
  }
}

@media (width <= 1235px) {
  .todo {
    flex-direction: column;
    align-items: unset;
  }
}
